#recipe-header {
    display: flex;
    align-items: center;
    column-gap: 100px;
    color: var(--title-color);
}

#recipe-header .title {
    font-weight: var(--title-font-weight);
}

#recipe-header .child {
    width: 100%;
    flex-basis: auto;
}

#recipe-header .recipe-title {
    display: flex;
    flex-direction: column;
}

.recipe-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

#recipe-description {
    display: flex;
    flex-direction: column;
}

#recipe-preparation li {
    margin-top: 1em;
}
