#title {
    padding: var(--section-padding);
}

.main-title {
    font-weight: var(--title-font-weight);
    text-align: center;
    font-size: 50px;
}

#recipe-spotlight {
    margin-top: 2em;
    padding: var(--section-padding);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

#recipe-spotlight img {
    display: block;
    min-width: calc(100%);
    max-width: calc(100%);
    border-radius: 50%;
    object-fit: cover;
    transition: 1s;
    margin: 0 auto;
}

#recipe-spotlight div {
    overflow: hidden;
    min-width: calc(100%);
    max-width: calc(100%);
    height: fit-content;
    border-radius: 50%;
}

#recipe-spotlight div:hover img {
    transform: scale(1.1) rotate(12deg);
}

#recipe-spotlight p {
    text-align: center;
    font-weight: 800;
    font-size: 25px;
}